*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

li{
    font-family: roboto;
    color: #00214a;
    font-weight: bold;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

h3{
    font-family: Quicksand;
    color: #fdfdfd;
    background-color: #00214a;
    padding:1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 810px;
}

ul{
    color: #00214a;
    background-color: #cdeae8;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 2rem;
    border: 3px solid #00214a;
}