*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body{
        font-family: roboto;
        text-align: center;
        color: #00214a;
        background-color: #cdeae8;
        margin: 3rem;
    }

    p{
        font-family: roboto;
        text-align: center;
        color: #00214a;
        background-color: #cdeae8;
        width: 400px;
        margin: auto;
        padding: 0.8rem;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    li{    
        font-family: roboto;
        color: #00214a;
        font-weight: bold;
        padding: 0.8rem;
        text-align: center;
        margin: auto;
    }

    h2{
        font-family: Quicksand;
        color: #fdfdfd;
        background-color: #00214a;
        margin-left: 3rem;
        margin-right: 3rem;
        padding:1rem;
        text-align: center;
        width: 400px;
    }
    
    h3{
        font-family: Quicksand;
        color: #fdfdfd;
        background-color: #00214a;
        margin-left: 3rem;
        margin-right: 3rem;
        padding:1rem;
        text-align: center;
        width: 400px;
    }
    
    ul{
        font-family: roboto;
        color: #00214a;
        background-color: #cdeae8;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 400px;
        margin-left: 3rem;
        margin-right: 3rem;
        list-style: none;
    }