*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body{
        margin: auto;
    }
    
    li{
        font-family: roboto;
        color: #00214a;
        font-weight: bold;
        padding: 0.4rem;
        text-align: center;
        margin: auto;
    }
    
    h3{
        font-family: Quicksand;
        color: #fdfdfd;
        background-color: #00214a;
        margin: auto;
        padding:1rem;
        text-align: center;
        width: 400px;
    }

    h2{
        font-family: Quicksand;
        color: #fdfdfd;
        background-color: #00214a;
        margin: auto;
        padding:1rem;
        text-align: center;
        width: 400px;
    }
    
    ul{
        color: #00214a;
        background-color: #cdeae8;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 400px;
        margin: auto;
        list-style: none;
    }

    button{
        font-family: Quicksand;
        font-weight: bolder;
        border-radius: 15px;
        color: #fdfdfd;
        background-color: #00214a;
        margin: 1rem;
        padding:1rem;
        text-align: center;
        justify-content: center;

    }
    p{
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }