<h1 class="animated fadeIn fast">Sobre Comic APP</h1>
<hr>
<p class="animated">
  Año 1900: La palabra “comic” empieza a usarse en Estados Unidos para definir a todas las tiras cómicas, que antes se conocían como funniest.<br>“”
  Año 1934: Nace el cómic de “Flash Gordon”<br>
  Año 1938: La revista Action Comics publica por primera vez el 1 de junio las aventuras de “Supermán”.<br>
  Año 1940: Se publica en Chicago “Brenda Starr”, el primer cómic escrito por una mujer.<br>
  Año 1962: “Spiderman” se cuela en el número 15 de la revista Amazing Fantasy, de Marvel.<br>
</p>
