<div id="contform">
    <form action="" name="formulario">
        <label for="name" id="nombre" name="nombreDelAlumno">Nombre Usuario</label>
        <input [(ngModel)]="usuario" type="text">
        <label for="email" id="email">Correo Electronico</label>
        <input [(ngModel)]="email" type="text">
        <label for="nacimiento" id="birth">Fecha de Nacimiento</label>
        <input [(ngModel)]="nacimiento" type="date">
        <label for="contrasena" id="passw">Contraseña</label>
        <input [(ngModel)]="contrasena" type="password">
        <label for="contrasena" id="passwbis">Repetir contraseña</label>
        <input [(ngModel)]="contrasenaB" type="password">
        <button id="addbutton">Enviar</button>
    </form></div>
