<div id="contform">
    <form action="" name="formulario">
        <label for="nombre" id="nombre" name="nombre">Nombre</label>
        <input [(ngModel)]="nombre" type="text">
        <label for="apellidos" id="apellidos" name="apellidos">Apellidos</label>
        <input [(ngModel)]="apellidos" type="text">
        <label for="foto" id="foto" name="foto">Foto</label>
        <input [(ngModel)]="foto" type="text">
        <label for="phone" id="phone" name="phone">Telefono</label>
        <input [(ngModel)]="phone" type="text">
        <label for="email" id="email">Correo Electronico</label>
        <input [(ngModel)]="email" type="text">
        <label for="birhtdate" id="birthdate">Fecha de Nacimiento</label>
        <input [(ngModel)]="birthdate" type="date">
        <label for="pass" id="pass">Contraseña</label>
        <input [(ngModel)]="pass" type="text">
        <button id="addbutton">Enviar</button>
    </form></div>
