*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    li{
        font-family: roboto;
        color: #00214a;
        font-weight: bold;
        padding: 0.4rem;
        text-align: center;
        margin: auto;
    }
    
    h3{
        font-family: Quicksand;
        color: #fdfdfd;
        background-color: #00214a;
        margin: auto;
        padding:1rem;
        text-align: center;
        width: 30%;
    }
    
    ul{
        color: #00214a;
        background-color: #cdeae8;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 30%;
        margin: auto;
        list-style: none;
    }

    form{
        font-family: roboto;
        color: #00214a;
        background-color: #cdeae8;
        font-weight: bold;
        padding: 2rem;
        text-align: center;
        margin: 3rem;
        border-radius: 15px;
        width: 325px;
    }

    label{
        border-radius: 15px;
        padding: 3rem;
        margin-top: auto;
        justify-content: center;
        text-align: center;
    }

    button{
        font-family: Quicksand;
        font-weight: bolder;
        border-radius: 15px;
        color: #fdfdfd;
        background-color: #00214a;
        margin: 1rem;
        padding:1rem;
        text-align: center;
        justify-content: center;

    }

    input{
        border-radius: 15px;
        height: 2rem;
        margin: 0.7rem;
    }