.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 3px #0d3f7c;
    min-height: 60px;
    display: block;
    background: #cdeae8;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  h2 {
   color:#ffffff;
   background: rgb(0,33,74);
   background: linear-gradient(0deg, rgba(0,33,74,1) 0%, rgba(12,60,120,1) 5%, rgba(13,63,124,1) 95%, rgba(0,115,255,1) 100%);
   font-size: 26px;
   width: 500px;
   margin: 0px;
   text-align: center;
   align-items: center;
   margin-top: 15px;
   padding: 10px;
   border-top-left-radius: 15px;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    color: rgb(0,33,74);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  button {
    font-family: quicksand;
    font-weight: bold;
    font-size: 16px;
    width: 100px;
    border-radius: 15px;
    justify-content: center;
    background: rgb(0,33,74);
    background: linear-gradient(0deg, rgba(0,33,74,1) 0%, rgba(12,60,120,1) 5%, rgba(13,63,124,1) 95%, rgba(0,115,255,1) 100%);
    color: white;
    border: solid 3px #04bbec;
}

#cerrar {
    font-family: quicksand;
    font-weight: bold;
    font-size: 16px;
    width: 40px;
    border-radius: 150px;
    background: rgb(0,33,74);
    background: linear-gradient(0deg, rgba(0,33,74,1) 0%, rgba(12,60,120,1) 5%, rgba(13,63,124,1) 95%, rgba(0,115,255,1) 100%);
    border: solid 3px #04bbec;
    color: white;
    margin-left: 300px;
}

a {
    text-decoration: none;
    color: white;
}

  
    
  
  