<nav>
    <img src="../assets/media/logo_provisional.png" alt="logo">
    <h3>TaskLord!</h3>
    <ul>
    <li> <a routerLink="/alumnos">Alumno</a> </li>
    <li> <a routerLink="/profesores">Profesor</a> </li>
    <li> <a routerLink="/cursos">Cursos</a> </li>
    <li> <a routerLink="/formulariode-consulta">Contacto</a> </li>
    <li> <a routerLink="/formulario-acceso">Acceso</a> </li>
    <li> <a routerLink="/formulariode-registro">Inscripción</a> </li>
    </ul>
</nav>
<br><br>

<section class="content">
<router-outlet></router-outlet>
</section> 


<footer>  
    
        <img src="../assets/media/icons8-discord.svg" alt="discor">
        <img src="../assets/media/icons8-instagram.svg" alt="instagram">
        <img src="../assets/media/icons8-whatsapp.svg" alt="wasap">
        <img src="../assets/media/icons8-youtube.svg" alt="yutub">
    <ul>
    <li>Copyright all rights reversed.</li>
</ul>
</footer>