<nav>
    <h3>TaskLord!</h3>
    <ul>
    <li> <a routerLink="/alumno"></a> Alumno</li>
    <li> <a routerLink="/profesor"></a> Profesor</li>
    <li> <a routerLink="/cursos"></a> Cursos</li>
    <li> <a routerLink="/formulariode-consulta"></a> Contacto</li>
    <li> <a routerLink="/formulario-acceso"></a> Acceso</li>
    <li> <a routerLink="/formulariode-registro"></a> Inscripción</li>
    </ul>
</nav>

<router-outlet></router-outlet>
<ng-template></ng-template>

<!-- <main>
<app-alumno></app-alumno>
<app-alumnos></app-alumnos>
<app-curso></app-curso>
<app-cursos></app-cursos>
<app-formulario-acceso></app-formulario-acceso>
<app-formulariode-consulta></app-formulariode-consulta>
<app-formulariode-registro></app-formulariode-registro>
<app-profesor></app-profesor>
<app-profesores></app-profesores>

</main> -->

