<form class="example-form" cdkDrag id="formulario">
  <h2>FORMULARIO DE REGISTRO <button id="cerrar"><a routerLink="/">X</a></button></h2>
  <td><mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Alumno</mat-radio-button>
    <mat-radio-button value="2">Profesor</mat-radio-button>
  </mat-radio-group></td>


  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label >Nombre</mat-label>
      <input matInput [(ngModel)]="nombre" type="text">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Foto</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label >Edad</mat-label>
      <input [(ngModel)]="edad" type="date" matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput input [(ngModel)]="email" type="text">
    </mat-form-field></td> 
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input [(ngModel)]="contrasena" type="password" matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Repetir Contraseña</mat-label>
      <input [(ngModel)]="contrasenaB" type="password" matInput>
    </mat-form-field></td>
  </tr></table>

  <button>Ok</button>
</form>

