<nav>
    <ul>
        <li><button>Exit</button></li>
        <li><button>izda</button></li>
        <li><select name="casa" id="menucasa">
            <options> <a routerLink="/salon"> SALON</a></options>
            <options> <a routerLink="/cocina"> COCINA</a></options>
            <options> <a routerLink="/wc"> BAÑO</a></options>
            <options> <a routerLink="/dormitorio"> DORMITORIO</a></options>
        </select></li>
        <li><button>dcha</button></li>
        <li><button>Options</button></li>
    </ul>
</nav>

<!-- BARRAS DE NECESIDAD -->

<ul>
    <li>HAMBRE: {{hambre}}</li>
    <li>FELICIDAD: {{felicidad}}</li>
    <li>HIGIENE: {{higiene}}</li>
    <li>ENERGIA: {{energia}}</li>
</ul>
